@font-face {
  font-family: "insurance";
  /* Project id 1499887 */
  src: url('//at.alicdn.com/t/font_1499887_o77jx2zw16l.woff2?t=1646820505932') format('woff2'),
    url('//at.alicdn.com/t/font_1499887_o77jx2zw16l.woff?t=1646820505932') format('woff'),
    url('//at.alicdn.com/t/font_1499887_o77jx2zw16l.ttf?t=1646820505932') format('truetype');
}

.insurance {
  font-family: "insurance" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.insurance-jiesan:before {
  content: "\e626";
}

.insurance-fuzhi:before {
  content: "\e656";
}

.insurance-chexiao1:before {
  content: "\e611";
}

.insurance-settle:before {
  content: "\e6b8";
}

.insurance-xiangqing:before {
  content: "\e610";
}

.insurance-card:before {
  content: "\e61e";
}

.insurance-truck:before {
  content: "\e607";
}

.insurance-qiache_truck9:before {
  content: "\e60b";
}

.insurance-icon3:before {
  content: "\e619";
}

.insurance-mingcheng:before {
  content: "\e758";
}

.insurance-mingcheng-copy:before {
  content: "\e778";
}

.insurance-mingcheng-copy1:before {
  content: "\e779";
}

.insurance-shouji-copy:before {
  content: "\e777";
}

.insurance-shouji:before {
  content: "\e64d";
}

.insurance-luru-xianxing:before {
  content: "\e608";
}

.insurance-yidaozhang:before {
  content: "\e715";
}

.insurance-man:before {
  content: "\e73a";
}

.insurance-home:before {
  content: "\e734";
}

.insurance-tuidanguanli:before {
  content: "\e641";
}

.insurance-anniudianjirizhi:before {
  content: "\e63f";
}

.insurance-VIPzuo:before {
  content: "\e640";
}

.insurance-ziyuancollect:before {
  content: "\e64e";
}

.insurance-moneypay:before {
  content: "\e675";
}

.insurance-approval:before {
  content: "\e6f4";
}

.insurance-view:before {
  content: "\e633";
}

.insurance-ziliao:before {
  content: "\e76f";
}

.insurance-mobanxiazai:before {
  content: "\e62f";
}

.insurance-zhengjian:before {
  content: "\e664";
}

.insurance-hulve:before {
  content: "\e648";
}

.insurance-zuoyepigai:before {
  content: "\e612";
}

.insurance-shangchuan:before {
  content: "\e775";
}

.insurance-zhongzhimima:before {
  content: "\e60a";
}

.insurance-shibaibiaoqing:before {
  content: "\e639";
}

.insurance-fenfabaoxian:before {
  content: "\e600";
}

.insurance-receipt:before {
  content: "\e606";
}

.insurance-ziyuan:before {
  content: "\e621";
}
